/*
    HTML5 ✰ Boilerplate

    style.css contains a reset, font normalization and some base styles.

    credit is left where credit is due.
    much inspiration was taken from these projects:
        yui.yahooapis.com/2.8.1/build/base/base.css
        camendesign.com/design/
        praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
    html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
    v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
    html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font: inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display:block;
}

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */

body, select, input, textarea {
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color: #444;
    /* set your base font here, to apply evenly */
    /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }

/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
    padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
            border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate.
     No text-shadow: twitter.com/miketaylr/status/12228805301
     Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
     www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
     code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/*
*******************************************
              END RESET
*******************************************
*/
















































































/*
*******************************************
              BEGIN CUSTOM CSS
*******************************************
*/


body {
  font: 14px  Helvetica, Arial, sans-serif;
}


/*
*******************************************
              TODO APP STUFF
*******************************************
*/


/*a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  background-color: #222;
  border: 1px solid black;
  border-radius: 2em;
  padding: 3em;
}

.header {
  text-align: center;
  margin-bottom: 5em;
}

input {
    margin-top: 1em;
}


form {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #000;
}

li {
    width: 100%;
    display: inline-block;
    color: #fff;
    line-height: 2em;
    vertical-align: middle;
}

.btn-primary {
    background-color: rgb(80,120,220);
    border: none;
    border-radius: .5em;
}
.btn-secondary {
    background-color: rgb(150,220,80);
    color: #333;
}
.btn-secondary:hover {
    background-color: rgb(90,180,60);
    color: #fff;
}
*/

/*
*******************************************
              PORTFOLIO STUFF
*******************************************
*/


#zoomed {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.83);
}
#zoomed_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#zoomed_container::-webkit-scrollbar {
  display: none;
}

#zoomed_pic {
  width: 100%;
  /*margin-top: 3em;*/
}
#zoomed_pic img {
  width: 100%;
}

#super_zoomed_container {
  overflow: scroll;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
}
#super_zoomed_background {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#super_zoomed_pic {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#zoomed_description_container {
  width: 100%;
  height: 300px;
  color: #fff;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#zoomed_description_container::-webkit-scrollbar {
  display: none;
}
#zoomed_description {
  width: 100%;
  padding: 10%;
  padding-top: 0;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

#pic_title {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
}
#redirect_link {
  margin-top: 1em;
}
#zoomed_description a,
#zoomed_description a:link,
#zoomed_description a:visited {
  color: rgba(0,160,255,1);
  text-decoration: none;
}
#medium {
  width: 60%;
  margin: 1em auto;
}




.zoom_btns {
  margin: 1.5em auto;
  text-align: center;
}
.zoom_btn {
  display: inline-block;
  margin: 0 auto;
  width: 20%;
  font-size: 2em;
}
#left_btn {
  color: rgba(0,160,255,1);
}
#super_zoom {
  color: rgba(0,220,50,1);
}
#x-out {
  color: rgba(220,0,0,1);
}
#right_btn {
  color: rgba(0,160,255,1);
}






.outer-column {
  position: absolute;
  width: 100vw;
  height: 25vh;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.outer-column::-webkit-scrollbar {
  display: none;
}

.col-m {
  position: absolute;
  height: 25vh;
  width: 100vw;
  padding: 0;
  color: #222;
}


.pic {
  height: 25vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  border-right: 3px solid #222;
}
.pic:last-child {
  border: none;
}

.out-col-2 {
  position: absolute;
  top: 50vh;
}
.out-col-3 {
  position: absolute;
  top: 75vh;
}

#col0 {
  background-color: #6CBEED;
  position: absolute;
  width: 1200vw;
  padding: 0;
  margin: 0;
  border: none;
}

#col2 {
  background-color: #9C9DB9;
  position: absolute;
  width: 600vw;
  padding: 0;
  margin: 0;
  border: none;
}
#col2 .pic {
  border-bottom: 3px solid #222;
}
#col3 {
  background-color: #98D9C2;
  position: absolute;
  width: 600vw;
  padding: 0;
  margin: 0;
  border: none;
}

/* my info section */
#col1 {
  top: 25vh;
  background-color: #222;
  color: #fff;
  text-align: center;
}

#col1_text {
  font-weight: 100;
  height: 100%;
}
.my_name {
  padding: 0.3em 0.3em;
  font-size: 1.3em;
  text-align: center;
}
.my_name span {
  padding: 0 0.5em;
}
#my_details {
}

.category_labels {
  visibility: hidden;
}

#label_web {
  position: absolute;
  z-index: 9;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  padding: 0.3em;
  color: #fff;
}
#label_painting {
  position: absolute;
  z-index: 9;
  width: 100vw;
  top: 50vh;
  background-color: rgba(0,0,0,0.7);
  padding: 0.3em;
  color: #fff;
}
#label_3d {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 75vh;
  background-color: rgba(0,0,0,0.7);
  padding: 0.3em;
  color: #fff;
}


/* WIDER THAN 768px WIDE */
@media screen and (min-width: 500px) {


/* ZOOM */
  #zoomed_container {
    height: 100%;
    width: 100%;
  }
  #zoomed_pic {
    position: relative;
    top: 50%;
    display: inline-block;
    float: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  #zoomed_pic img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #zoomed_description_container {
    display: inline-block;
    float: left;
    width: 43%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #zoomed_description {
    margin-top: 2em;
  }

  .zoom_btns {
    margin: 0;
    width: 5%;
    padding-right: 2%;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .zoom_btn {
    display: block;
    width: 100%;
    margin: 1em auto;
  }
  #left_btn {
  }
  #right_btn {
  }
  #super_zoom {
  }
  #x-out {
  }


  #left_btn:hover {
    color: rgba(255,255,255,1);
  }
  #super_zoom:hover {
    color: rgba(255,255,255,1);
  }
  #x-out:hover {
    color: rgba(255,255,255,1);
  }
  #right_btn:hover {
    color: rgba(255,255,255,1);
  }

/* MAIN PAGE */
  .outer-column {
    width: 25vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .col-m {
    height: 100vh;
    width: 25vw;
  }

  .pic {
    height: 100vh;
    width: 25vw;
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    border-bottom: 3px solid #222;

    background-position: center;
  }

  .out-col-2 {
    top: 0;
    left: 50vw;
  }
  .out-col-3 {
    top: 0;
    left: 75vw;
  }

  #col0 {
    width: 25vw;
  }
  #col1 {
    top: 0;
    left: 25vw;
  }
  #col2 {
    width: 25vw;
    top: 0;
  }
  #col2 .pic {
    border-right: 3px solid #222;
  }
  #col3 {
    width: 25vw;
    top: 0;
  }

.category_labels {
  visibility: visible;
}

  #label_web {
    width: 25vw;
    padding: 1em;
  }
  #label_painting {
    width: 25vw;
    left: 50vw;
    top: inherit;
    bottom: 0;
    padding: 1em;
  }
  #label_3d {
    width: 25vw;
    top: 0;
    left: 75vw;
    padding: 1em;
  }



/*
*******************************************
              Courtesy of...
*******************************************
*/


  .sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
  }
  .sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .sliding-middle-out:hover:after {
    width: 100%;
    background: #fff;
  }

}












































































